[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
ipython = "*"
pillow = "*"
black = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
shortuuid = "*"
razorpay = "*"
wkhtmltopdf = "*"
xhtml2pdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
