
{% extends "common/base.html" %}
{% load static %}
{% load myfilters %}

{% block main %}
{% include "includes/nav.html"%}
{% endblock %}

{% block body %}
<div class="form-wrapper">
    <h2>Sign In</h2>
    <form action="{% url 'login' %}" method="POST">

        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="my-form-control">
            {{ form.username.errors }}
            {{ form.username}}
            <label for="id_email">Email:</label>
        </div>
        <div class="my-form-control">
            {{ form.password.errors }}
            {{ form.password}}
            <label for="id_password1">Password</label>
        </div>
        <div class="remember-me">
            <input type="checkbox" id="remember-me" name="remember_me">
            <label for="remember-me">Remember me</label>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>New on Netflix? <a href="{% url 'signup' %}">Sign Up</a></p>
</div>
{% endblock %}

{% block js %}
<script>
    let inputs = document.querySelectorAll('input');
    for (let input of inputs){
        input.addEventListener("change", () => {
            if (input.value != '' && input.type != "checkbox"){
                input.nextElementSibling.style.display = "none";
            }
            else{
                input.nextElementSibling.style.display = "block";
            }
        })
    }
</script>
{% endblock %}