
{% extends "common/base.html" %}
{% load static %}
{% load myfilters %}

{% block body %}
<div id="main-container">
    {% include "includes/nav.html"%}
</div>

<div class="form-wrapper">
    <h2>Update Profile</h2>
    <form action="{% url 'profile-update' %}" method="POST" enctype="multipart/form-data">
        {%  csrf_token %}
        
        {{ form.non_field_errors }}
        <div class="my-1">
            <label for="id_first_name">First Name:</label>
            {{ form.first_name.errors }}
            {{ form.first_name|addclass:'form-control'}}
        </div>
        <div class="my-1">
            <label for="id_last_name">Last Name:</label>
            {{ form.last_name.errors }}
            {{ form.last_name|addclass:'form-control'}}
        </div>
        <div class="my-1">
            <label for="id_last_name">Bio:</label>
            {{ form.bio.errors }}
            {{ form.bio|addclass:'form-control'}}
        </div>
        <div class="my-1">
            {{ form.profile_img.errors }}
            {{ form.profile_img|addclass:'form-control'}}
        </div>
        <button type="submit">Submit</button>
    </form>
    <p>Do not update: <a href="{% url 'profile' %}">Go Back</a></p>
</div>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}