<footer>
    <div class="footer" style=" width: 100%; box-shadow: rgba(50, 50, 93, 1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;">
        <div class="row">
            <a href="https://github.com/arunkumar02042002" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://leetcode.com/u/arun_kumar02/" title="Leetcode" target="_blank"><i class="fa fa-code"></i></a>
            <a href="https://auth.geeksforgeeks.org/user/arunkumar2403gg" title="GeeksForGeeks" target="_blank"><i class="fa fa-user"></i></a>
            <a href="https://twitter.com/bhaiarunbihari/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/bhaiarunbihari/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
        
        <div class="row">
            Mail: arun.kumar.2403gg@gmail.com
        </div>
        
        <div class="row">
            Designed By: Arun Kumar 
        </div>
    </div>
</footer>